/*<meta />*/

p.MyStyle
{
	font-family: Arial;
	font-size: 12pt;
	margin: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

img.w450
{
	border: none;
	width: 450px;
	height: auto;
}

@media print
{
	img.w450
	{
		width: 150px;
	}
}

